target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
/.idea/
*.iws
*.iml
*.ipr


.DS_Store
/src/main/resources/service-account.json

*.env

CLAUDE.md